body {
  background-color: white;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  padding-left: 15%;
}


.nav-item {
  padding: 0 20px;
}

.nav-link {

}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-nav {
  padding-right: 15%;
}

.contactform {padding: 5%;
  align-content: center;
}
